body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}


.left-box {
   float: left;
   width: 50%;
 }

.right-box {
  float: right;
  width: 50%;
}

img {
  width: 80px;
  height: 60px;

}

#container {
    height: 680px;
    min-width: 310px;
    max-width: 800px;
    margin: 0 auto;
}
.loading {
    margin-top: 10em;
    text-align: center;
    color: gray;
}


